.app {
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  .logo.react {
    animation: logo-spin infinite 20s linear;
  }
}

.date {
  color: #888;
  font-size: 0.9em;
  margin-top: -0.5em;
}

.count {
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 0.5em;
}

.button-group {
  display: flex;
  gap: 0.5em;
  justify-content: center;
  margin-bottom: 1em;
}
